
* {
  margin: 5px;
  padding: 5px;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #153541;
}

ul li {
  float: left;
  border-right:1px solid #b9a94d;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #000000;
}

ul li a.active {
  background-color: #850000;
}

p {

  font-size: 20px;
}